.searchbar {
  width: 50%;
  max-width: 800px;
  min-width: 200px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  background-color: var(--element-background);
  margin-bottom: 15px;

  img {
    width: 20px;
    padding: 0 5px;
    filter: var(--img-filter);
  }

  input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    color: var(--input);
    background-color: transparent;
    &::placeholder {
      color: var(--input);
    }
    &:focus {
      border: none;
    }
  }
}
