.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  .filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 25px;
    height: 80px;
    overflow: visible;
  }

  p {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 20px 0;
  }
}

.main[data-theme="dark"] {
  color: white;
  background-color: hsl(207, 26%, 17%);
}
