.main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);

  .filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 25px;
    height: 80px;
  }
}

.main[data-theme="dark"] {
  color: white;
  background-color: hsl(207, 26%, 17%);
}
