.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 25px 25px;
  box-sizing: border-box;
  color: hsl(200, 15%, 8%);
  background-color: white;

  a {
    text-decoration: none;
    &:visited {
      color: hsl(200, 15%, 8%);
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .theme-picker {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.header[data-theme="dark"] {
  background-color: hsl(209, 23%, 22%);
  color: white;
  a {
    &:visited {
      color: white;
    }
  }
  .theme-picker {
    img {
      filter: invert(100);
    }
  }
}

@media (min-width: 550px) {
  .header {
    padding: 25px 100px;
  }
}
