.header {
  --background: white;
  --text: hsl(200, 15%, 8%);

  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--background);

  a {
    text-decoration: none;
    color: var(--text);
    &:visited {
      color: var(--text);
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .theme-picker {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.header[data-theme="dark"] {
  --background: hsl(209, 23%, 22%);
  --text: white;
  .theme-picker {
    img {
      filter: invert(100);
    }
  }
}

@media (min-width: 550px) {
  .header {
    padding: 25px 100px;
  }
}
