.countries {
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 20%));
  grid-template-rows: repeat(auto, 300px);
  justify-content: space-between;
}
