.dropdown {
  font-weight: 600;
  color: var(--text);
  z-index: 1;
  div {
    width: 200px;
    height: 50px;
    box-shadow: var(--box-shadow);
    background-color: var(--element-background);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    display: flex;
  }

  ul {
    list-style: none;
    background-color: var(--element-background);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    li {
      margin-left: -35px;
      padding: 3px 0;
      &:hover {
        font-weight: 800;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
